In [3]:
import os
os.listdir()

['.ipynb_checkpoints',
 'playing_with_pandas_and_jupyter.ipynb',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'supermarkets_commas.txt',
 'supermarkets_semi-colons.txt']

In [4]:
import pandas
df1=pandas.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [25]:
df2=pandas.read_json("supermarkets.json")
df2.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [14]:
df3=pandas.read_excel("supermarkets.xlsx", sheetname=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
pandas.read_csv?

In [7]:
df4=pandas.read_csv("supermarkets_semi-colons.txt", sep=";")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [35]:
df8=pandas.read_csv("supermarkets.csv")
df9=df8.set_index("ID")

In [36]:
df9.loc["2":"3", "City":"Name"]

              City             State Country          Name
ID
2    San Francisco          CA 94119     USA   Bready Shop
3    San Francisco  California 94114     USA   Super River

In [38]:
list(df9.loc[:,"Employees"])

[8, 15, 25, 10, 12, 20]

In [40]:
df9

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [46]:
df9.iloc[2:4,2:6]

               State Country          Name  Employees
ID
3   California 94114     USA   Super River         25
4           CA 94114     USA    Ben's Shop         10

In [49]:
df9.ix[4,"Name"]

" Ben's Shop"

In [51]:
df9.drop?

In [53]:
df9

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [59]:
df9

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [64]:
df9=df9.drop("Country",1)

In [67]:
df9.drop(5,0)

            Address            City             State          Name  Employees
ID
1      3666 21st St   San Francisco          CA 94114       Madeira          8
2    735 Dolores St   San Francisco          CA 94119   Bready Shop         15
3       332 Hill St   San Francisco  California 94114   Super River         25
6   551 Alvarado St   San Francisco          CA 94114    Richvalley         20

In [69]:
df9

            Address            City             State          Name  Employees
ID
1      3666 21st St   San Francisco          CA 94114       Madeira          8
2    735 Dolores St   San Francisco          CA 94119   Bready Shop         15
3       332 Hill St   San Francisco  California 94114   Super River         25
5   1056 Sanchez St   San Francisco        California       Sanchez         12
6   551 Alvarado St   San Francisco          CA 94114    Richvalley         20

In [71]:
df9.index

Int64Index([1, 2, 3, 5, 6], dtype='int64', name='ID')

In [73]:
df9.columns

Index(['Address', 'City', 'State', 'Name', 'Employees'], dtype='object')

## df9.index[1:]

In [80]:
df9

            Address            City             State          Name  Employees
ID
1      3666 21st St   San Francisco          CA 94114       Madeira          8
2    735 Dolores St   San Francisco          CA 94119   Bready Shop         15
3       332 Hill St   San Francisco  California 94114   Super River         25
5   1056 Sanchez St   San Francisco        California       Sanchez         12
6   551 Alvarado St   San Francisco          CA 94114    Richvalley         20

In [82]:
df9.index

Int64Index([1, 2, 3, 5, 6], dtype='int64', name='ID')

In [89]:
df9.index[:1]

Int64Index([1], dtype='int64', name='ID')

In [91]:
df9

            Address            City             State          Name  Employees
ID
1      3666 21st St   San Francisco          CA 94114       Madeira          8
2    735 Dolores St   San Francisco          CA 94119   Bready Shop         15
3       332 Hill St   San Francisco  California 94114   Super River         25
5   1056 Sanchez St   San Francisco        California       Sanchez         12
6   551 Alvarado St   San Francisco          CA 94114    Richvalley         20

In [93]:
df9.drop(df9.index[:1],0)

            Address            City             State          Name  Employees
ID
2    735 Dolores St   San Francisco          CA 94119   Bready Shop         15
3       332 Hill St   San Francisco  California 94114   Super River         25
5   1056 Sanchez St   San Francisco        California       Sanchez         12
6   551 Alvarado St   San Francisco          CA 94114    Richvalley         20

In [105]:
df9.drop(df9.columns[1],1)

            Address             State          Name  Employees
ID
1      3666 21st St          CA 94114       Madeira          8
2    735 Dolores St          CA 94119   Bready Shop         15
3       332 Hill St  California 94114   Super River         25
5   1056 Sanchez St        California       Sanchez         12
6   551 Alvarado St          CA 94114    Richvalley         20

In [108]:
df9

            Address            City             State          Name  Employees
ID
1      3666 21st St   San Francisco          CA 94114       Madeira          8
2    735 Dolores St   San Francisco          CA 94119   Bready Shop         15
3       332 Hill St   San Francisco  California 94114   Super River         25
5   1056 Sanchez St   San Francisco        California       Sanchez         12
6   551 Alvarado St   San Francisco          CA 94114    Richvalley         20

In [113]:
df9["Continent"]=df9.shape[0]*["North America"]

In [115]:
df9

,Address,City,State,Name,Employees,Continent
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,Madeira,8,North America
2,735 Dolores St,San Francisco,CA 94119,Bready Shop,15,North America
3,332 Hill St,San Francisco,California 94114,Super River,25,North America
5,1056 Sanchez St,San Francisco,California,Sanchez,12,North America
6,551 Alvarado St,San Francisco,CA 94114,Richvalley,20,North America

In [118]:
df9.shape[1]

6

In [120]:
df9

,Address,City,State,Name,Employees,Continent
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,Madeira,8,North America
2,735 Dolores St,San Francisco,CA 94119,Bready Shop,15,North America
3,332 Hill St,San Francisco,California 94114,Super River,25,North America
5,1056 Sanchez St,San Francisco,California,Sanchez,12,North America
6,551 Alvarado St,San Francisco,CA 94114,Richvalley,20,North America

In [122]:
df9_t=df9.T

In [124]:
df9_t

ID,1,2,3,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,California,CA 94114
Name,Madeira,Bready Shop,Super River,Sanchez,Richvalley
Employees,8,15,25,12,20
Continent,North America,North America,North America,North America,North America

In [126]:
df9_t[7]=["Mi direccion", "Mi ciudad", "Mi Estado", "Mi Nombre", 5, "Mi Continente"]

In [128]:
df9_t

ID,1,2,3,5,6,7
Address,3666 21st St,735 Dolores St,332 Hill St,1056 Sanchez St,551 Alvarado St,Mi direccion
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,Mi ciudad
State,CA 94114,CA 94119,California 94114,California,CA 94114,Mi Estado
Name,Madeira,Bready Shop,Super River,Sanchez,Richvalley,Mi Nombre
Employees,8,15,25,12,20,5
Continent,North America,North America,North America,North America,North America,Mi Continente

In [130]:
df9=df9_t.T

In [132]:
df9

,Address,City,State,Name,Employees,Continent
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,Madeira,8,North America
2,735 Dolores St,San Francisco,CA 94119,Bready Shop,15,North America
3,332 Hill St,San Francisco,California 94114,Super River,25,North America
5,1056 Sanchez St,San Francisco,California,Sanchez,12,North America
6,551 Alvarado St,San Francisco,CA 94114,Richvalley,20,North America
7,Mi direccion,Mi ciudad,Mi Estado,Mi Nombre,5,Mi Continente

In [134]:
df9.T

ID,1,2,3,5,6,7
Address,3666 21st St,735 Dolores St,332 Hill St,1056 Sanchez St,551 Alvarado St,Mi direccion
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,Mi ciudad
State,CA 94114,CA 94119,California 94114,California,CA 94114,Mi Estado
Name,Madeira,Bready Shop,Super River,Sanchez,Richvalley,Mi Nombre
Employees,8,15,25,12,20,5
Continent,North America,North America,North America,North America,North America,Mi Continente

In [136]:
df9

,Address,City,State,Name,Employees,Continent
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,Madeira,8,North America
2,735 Dolores St,San Francisco,CA 94119,Bready Shop,15,North America
3,332 Hill St,San Francisco,California 94114,Super River,25,North America
5,1056 Sanchez St,San Francisco,California,Sanchez,12,North America
6,551 Alvarado St,San Francisco,CA 94114,Richvalley,20,North America
7,Mi direccion,Mi ciudad,Mi Estado,Mi Nombre,5,Mi Continente

In [139]:
from geopy.geocoders import Nominatim

In [141]:
nom=Nominatim()

In [150]:
nom.geocode("551 Alvarado St, San Francisco, CA 94114")

Location(551, Alvarado Street, Noe Valley, SF, California, 94114, United States of America, (37.7536733265306, -122.433219959184, 0.0))

In [153]:
nom.geocode("Duble Almeyda 5385, Santiago, Chile")

Location(Dubl Almeyda, Villa Olmpica, uoa, Provincia de Santiago, Regin Metropolitana de Santiago, 7750000, Chile, (-33.4553905, -70.607106, 0.0))

In [154]:
n=nom.geocode("Duble Almeyda 5385, Santiago, Chile")
n.latitude

-33.4553905